/* - - - - - font import - - - - - */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

/* - - - - - browser resets - - - - - */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #03001b;
    background-color: #000713;
    background-color: #000313;
    background-color: #02081a;
    overflow-x: hidden;
    /* background-image: url("../images/background1.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

#followdiv{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #066abd;
    position: absolute;
    z-index: 0;
    box-shadow: 1vw 1vw 3vw 3vw #006eff73;
}

main {
    width: 100%;
    height: auto;
    padding: 3% 10%;
    /* background-color: #000711; */
    position: relative;
    z-index: 1;
    background-color: transparent;
    backdrop-filter: blur(10vw);
    overflow: hidden;
}

/* - - - - - hero section styling - - - - - */
#hero {
    width: 100%;
    height: auto;
}
header {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    header {
        padding: 5% 0 0 0;
        flex-direction: row-reverse;
    }
}

header label,
header input {
    display: none;
}

@media screen and (max-width: 500px) {
    header label {
        display: flex;
        color: #009ff6;
        width: 10vw;
        height: 10vw;
    }

    header input {
        display: none;
    }

    #check:checked ~ label {
        color: #009ff6;
        z-index: 11;
        position: fixed;
        top: 4.5%;
        right: 10;
    }

    #check:checked ~ .logo {
        z-index: 11;
        position: fixed;
        top: 4%;
        left: 10%;
    }
}

header .logo h1 a {
    font-family: "Montserrat", sans-serif;
    color: #009ff6;
    font-size: 3.5vw;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    header .logo h1 a {
        font-size: 10vw;
    }
}

header .logo h1 .m {
    color: #dcdddd;
}

header .navlinks ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}

header .navlinks ul li {
    color: #707070;
    margin: 0 10%;
}

header .navlinks ul li a {
    text-decoration: none;
    color: #dcdddd;
    font-size: 0.9vw;
}

.navlinks ul li a:hover,
.navlinks ul li a:active,
.navlinks ul li a:focus {
    color: #009ff6;
}

@media screen and (max-width: 500px) {
    header .navlinks {
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: #1b1d22;
        z-index: 10;
        top: 0;
        left: 100%;
        height: 100vh;
        width: 100%;
    }

    #check:checked ~ .navlinks {
        transition: 0.3s ease;
        left: 0;
        top: 0;
    }

    header .navlinks ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style-type: none;
    }

    header .navlinks ul li {
        color: #707070;
        margin: 50% 0%;
    }

    header .navlinks ul li a {
        text-decoration: none;
        color: #dcdddd;
        font-size: 5vw;
    }
}

/* - - - hero content styling - - - */
.hero-content {
    padding: 5%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .hero-content {
        padding: 5%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

.hero-content .text {
    width: 40%;
    padding-top: 5%;
}

@media screen and (max-width: 500px) {
    .hero-content .text {
        width: 100%;
        margin-top: 50%;
    }
}

.hero-content .text .intro {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-content .text .intro hr {
    display: inline-block;
    width: 2vw;
    outline: none;
    border: none;
    height: 0.1vw;
    background-color: #009ff6;
}

@media screen and (max-width: 500px) {
    .hero-content .text .intro hr {
        display: inline-block;
        width: 10vw;
        outline: none;
        border: none;
        height: 0.7vw;
        background-color: #009ff6;
    }
}
.hero-content .text span {
    color: #dcdddd;
    margin-left: 2%;
    font-size: 0.9vw;
}

@media screen and (max-width: 500px) {
    .hero-content .text span {
        color: #dcdddd;
        margin-left: 5%;
        font-size: 5vw;
    }
}

.hero-content .text h2 {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1vw;
    color: #dcdddd;
    font-size: 2vw;
    padding-top: 5%;
    padding-bottom: 2%;
}

@media screen and (max-width: 500px) {
    .hero-content .text h2 {
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.1vw;
        color: #dcdddd;
        font-size: 4vw;
        padding-top: 5%;
        padding-bottom: 2%;
    }
}

.hero-content .text p {
    font-family: "Montserrat", sans-serif;
    color: #dcdddd;
    line-height: 1.8vw;
    font-size: 0.9vw;
}

@media screen and (max-width: 500px) {
    .hero-content .text p {
        font-family: "Montserrat", sans-serif;
        color: #dcdddd;
        line-height: 5vw;
        font-size: 3vw;
    }
}

.hero-content .text ul {
    padding-left: 5%;
    color: #dcdddd;
    padding-bottom: 5%;
}

.hero-content .text ul li {
    line-height: 1.5;
    font-size: 0.9vw;
}

@media screen and (max-width: 500px) {
    .hero-content .text ul li {
        line-height: 1.5;
        font-size: 3vw;
    }
}

.hero-content .text a {
    text-decoration: none;
    color: #009ff6;
}
@media screen and (max-width: 500px) {
    .hero-content .text a {
        text-decoration: none;
        color: #009ff6;
    }
}

.hero-content .text .cta {
    width: 80%;
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 500px) {
    .hero-content .text .cta {
        width: 100%;
        margin-top: 8%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.hero-content .text a {
    font-size: 0.9vw;
}
@media screen and (max-width: 500px) {
    .hero-content .text a {
        font-size: 3vw;
    }
}

.hero-content .text .cta a {
    margin-right: 10%;
    background-color: #009ff6;
    color: #fff;
    font-size: 0.9vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
    padding: 3% 6%;
}
@media screen and (max-width: 500px) {
    .hero-content .text .cta a {
        margin-right: 10%;
        background-color: #009ff6;
        color: #fff;
        font-size: 3vw;
        border-radius: 0.2vw;
        outline: none;
        border: none;
        padding: 3% 6%;
    }
}

.hero-content .image {
    width: 35vw;
    height: 35vw;
    position: relative;
}

@media screen and (max-width: 500px) {
    .hero-content .image {
        transform: scale(1.8);
        margin-top: 15%;
        margin-right: 10%;
    }
}

.hero-content .image .circle {
    width: 40vw;
    height: 40vw;
    color: #009ff6;
    position: absolute;
    top: 10%;
}

.hero-content .image img {
    width: 35vw;
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 2;
}

/* styling technologies*/
@keyframes react {
    0% {
        top: 20%;
        left: 12%;
    }
    50% {
        top: 18%;
        left: 0%;
    }
    100% {
        top: 20%;
        left: 12%;
    }
}

@keyframes angular {
    0% {
        top: 20%;
        left: 12%;
    }
    50% {
        top: 8%;
        left: 0%;
    }
    100% {
        top: 20%;
        left: 12%;
    }
}

@keyframes node {
    0% {
        top: 20%;
        left: 12%;
    }
    50% {
        top: 5%;
        left: 10%;
    }
    100% {
        top: 20%;
        left: 12%;
    }
}

@keyframes flask {
    0% {
        top: 18%;
        right: 2%;
    }
    50% {
        top: 10%;
        right: -5%;
    }
    100% {
        top: 18%;
        right: 2%;
    }
}

@keyframes django {
    0% {
        top: 18%;
        right: 2%;
    }
    50% {
        top: 20%;
        right: -10%;
    }
    100% {
        top: 18%;
        right: 2%;
    }
}

.hero-content .image .tech {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    background-color: #1b1d22;
}

.hero-content .image .tech svg {
    position: relative;
    width: 2vw;
    height: 2vw;
    color: #009ff6;
}

.html5 {
    top: 75%;
    left: -3%;
    /* color: #e34f26; */
}

.css {
    top: 45%;
    left: -2%;
    /* color: #264de4; */
}

.javascript {
    width: 2vw;
    height: 2vw;
    top: 20%;
    left: 12%;
    z-index: 5;
    /* color: #f7df1e; */
}

.react {
    top: 20%;
    left: 12%;
    animation: react 2s infinite;
    background-color: transparent !important;
}

.angular {
    top: 20%;
    left: 12%;
    animation: angular 2s infinite;
    background-color: transparent !important;
}

.node {
    top: 20%;
    left: 12%;
    animation: node 2s infinite;
    background-color: transparent !important;
}

.python {
    top: 18%;
    right: 2%;
    z-index: 3;
}

.flask {
    top: 18%;
    right: 2%;
    animation: flask 2s 1s infinite;
    background-color: transparent !important;
}

.django {
    top: 18%;
    right: 2%;
    animation: django 2s 1s infinite;
    background-color: transparent !important;
}

.mongo {
    top: 45%;
    right: -15%;
}

.mysql {
    top: 75%;
    right: -15%;
}

/* - - - - - about me styling - - - - - */
.title {
    margin-top: 10%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title hr {
    display: inline-block;
    width: 2vw;
    outline: none;
    border: none;
    height: 0.1vw;
    background-color: #009ff6;
}

@media screen and (max-width: 500px) {
    .title hr {
        display: inline-block;
        width: 10vw;
        outline: none;
        border: none;
        height: 0.7vw;
        background-color: #009ff6;
    }
}

.title span {
    color: #dcdddd;
    margin-left: 1%;
    font-size: 0.9vw;
}
@media screen and (max-width: 500px) {
    .title span {
        color: #dcdddd;
        margin-left: 5%;
        font-size: 5vw;
    }
}

#about {
    padding: 0 5%;
    display: flex;
    align-items: flex-start;
    position: relative;
}
@media screen and (max-width: 500px) {
    #about {
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
}

#about .why {
    width: 50%;
    padding-right: 10%;
}
@media screen and (max-width: 500px) {
    #about .why {
        width: 100%;
        padding-right: 0;
        padding-bottom: 15%;
    }
}

#about .why h3 {
    font-family: "Montserrat", sans-serif;
    color: #009ff6;
    margin-bottom: 2%;
    font-size: 1.5vw;
}
@media screen and (max-width: 500px) {
    #about .why h3 {
        font-family: "Montserrat", sans-serif;
        color: #009ff6;
        margin-bottom: 5%;
        font-size: 5vw;
    }
}

#about .why p {
    font-family: "Montserrat", sans-serif;
    color: #dcdddd;
    line-height: 1.8vw;
    font-size: 0.9vw;
}
@media screen and (max-width: 500px) {
    #about .why p {
        font-family: "Montserrat", sans-serif;
        color: #dcdddd;
        line-height: 5vw;
        font-size: 3vw;
    }
}

#about .experience {
    width: 50%;
}
@media screen and (max-width: 500px) {
    #about .experience {
        width: 100%;
    }
}

#about .experience h3 {
    font-family: "Montserrat", sans-serif;
    color: #009ff6;
    margin-bottom: 2%;
    font-size: 1.5vw;
}
@media screen and (max-width: 500px) {
    #about .experience h3 {
        font-family: "Montserrat", sans-serif;
        color: #009ff6;
        margin-bottom: 5%;
        font-size: 5vw;
    }
}

#about .experience .tabs {
    width: 100%;
    padding-left: 5%;
    display: flex;
}
@media screen and (max-width: 500px) {
    #about .experience .tabs {
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
}

#about .experience .tabs ul {
    width: 20%;
    list-style-type: none;
}
@media screen and (max-width: 500px) {
    #about .experience .tabs ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#about .experience .tabs ul li {
    cursor: pointer;
    padding: 5%;
    /* background-color: transparent; */
    position: relative;
    z-index: 5;
}

#about .experience .tabs ul li .link {
    position: relative;
    font-size: 0.9vw;
    border-radius: 1.5vw 0 0 1.5vw;
    padding: 10%;
    color: #dcdddd;
    background-color: #1b1d22;
    z-index: 4;
}
@media screen and (max-width: 500px) {
    #about .experience .tabs ul li .link {
        position: relative;
        font-size: 3vw;
        border-radius: 1.5vw 0 0 1.5vw;
        padding: 10%;
        color: #dcdddd;
        background-color: #1b1d22;
        z-index: 4;
    }
}

#about .experience .tabs ul li .link:hover {
    transition: 0.2s ease-in-out;
    background-color: transparent;
    backdrop-filter: blur(0.5vw);
}

@media screen and (max-width: 500px) {
    #about .experience .tabs ul li .link:hover {
        transition: 0.2s ease-in-out;
        background-color: transparent;
        backdrop-filter: blur(1vw);
    }
}

#about .experience .tabs ul li .light {
    width: 1vw;
    height: 1vw;
    background-color: #009ff6;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 0;
}

@media screen and (max-width: 500px) {
    #about .experience .tabs ul li .light {
        width: 2vw;
        height: 2vw;
        background-color: #009ff6;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: 17%;
        z-index: 0;
    }
}

#about .experience .tabs ul li .active-link {
    background-color: transparent;
    backdrop-filter: blur(1vw);
}

.Crescent360,
.Icreations,
.IamBrand {
    display: none;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.active-description {
    width: 70%;
    height: 5vw;
    animation: appear 1s;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 500px) {
    .active-description {
        width: 100%;
        height: auto;
        animation: appear 1s;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
    }
}

#about .experience .active-description h3 {
    font-size: 1.2vw;
}
@media screen and (max-width: 500px) {
    #about .experience .active-description h3 {
        margin-top: 7%;
        font-size: 3.5vw;
        font-weight: 400;
    }
}

#about .experience .active-description p {
    color: #dcdddd;
    font-size: 0.9vw;
    line-height: 1.8vw;
}
@media screen and (max-width: 500px) {
    #about .experience .active-description p {
        color: #dcdddd;
        font-size: 3vw;
        line-height: 5vw;
    }
}

#about .experience .active-description .d {
    padding-top: 5%;
}

/* - - - - - portfolio styling - - - - - */
#portfolio {
    padding: 0 10%;
}

#portfolio .sample-product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10% 0;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20% 0;
    }
}

#portfolio .sample-product-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10% 0;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20% 0;
    }
}

#portfolio .sample-product .img {
    position: relative;
    width: 45%;
    border: 0.1vw solid #494949;
    transform: rotate(10deg);
    backdrop-filter: blur(0.1vw);
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product .img {
        position: relative;
        width: 100%;
        border: 0.1vw solid #494949;
        transform: rotate(10deg);
        backdrop-filter: blur(0.1vw);
    }
}

#portfolio .sample-product-1 .img {
    position: relative;
    width: 45%;
    border: 0.1vw solid #494949;
    transform: rotate(10deg);
    backdrop-filter: blur(0.1vw);
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product-1 .img {
        position: relative;
        width: 100%;
        border: 0.1vw solid #494949;
        transform: rotate(10deg);
        backdrop-filter: blur(0.1vw);
    }
}

#portfolio .sample-product .img img {
    width: 100%;
    transition: 0.3s;
    position: relative;
    transform: rotate(-10deg);
    border: 0.1vw solid #494949;
}

#portfolio .sample-product-1 .img img {
    width: 100%;
    transition: 0.3s;
    position: relative;
    transform: rotate(-10deg);
    border: 0.1vw solid #494949;
}

#portfolio .sample-product .short-description {
    width: 55%;
    padding-left: 10%;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product .short-description {
        margin-top: 20%;
        width: 100%;
        padding-left: 0;
    }
}

#portfolio .sample-product-1 .short-description {
    width: 55%;
    padding-right: 10%;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product-1 .short-description {
        margin-top: 20%;
        width: 100%;
        padding-right: 0;
    }
}

#portfolio .sample-product .short-description span {
    display: flex;
    align-items: center;
    color: #009ff6;
    font-size: 1.2vw;
    margin-bottom: 2%;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product .short-description span {
        display: flex;
        align-items: center;
        color: #009ff6;
        font-size: 3.5vw;
        margin-bottom: 2%;
    }
}

#portfolio .sample-product-1 .short-description span {
    display: flex;
    align-items: center;
    color: #009ff6;
    font-size: 1.2vw;
    margin-bottom: 2%;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product-1 .short-description span {
        display: flex;
        align-items: center;
        color: #009ff6;
        font-size: 3.5vw;
        margin-bottom: 2%;
    }
}

#portfolio .sample-product .short-description span div {
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 2%;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product .short-description span div {
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 2%;
    }
}

#portfolio .sample-product-1 .short-description span div {
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 2%;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product-1 .short-description span div {
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 2%;
    }
}

#portfolio .sample-product .short-description p {
    color: #dcdddd;
    font-size: 0.9vw;
    line-height: 1.8vw;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product .short-description p {
        color: #dcdddd;
        font-size: 3vw;
        line-height: 5vw;
    }
}

#portfolio .sample-product-1 .short-description p {
    color: #dcdddd;
    font-size: 0.9vw;
    line-height: 1.8vw;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product-1 .short-description p {
        color: #dcdddd;
        font-size: 3vw;
        line-height: 5vw;
    }
}

#portfolio .sample-product .short-description h3 {
    color: #dcdddd;
    margin-top: 2%;
    font-size: 0.9vw;
    line-height: 1.5vw;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product .short-description h3 {
        color: #dcdddd;
        margin-top: 2%;
        font-size: 3vw;
        line-height: 5vw;
    }
}

#portfolio .sample-product-1 .short-description h3 {
    color: #dcdddd;
    margin-top: 2%;
    font-size: 0.9vw;
    line-height: 1.5vw;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product-1 .short-description h3 {
        color: #dcdddd;
        margin-top: 2%;
        font-size: 3vw;
        line-height: 5vw;
    }
}

#portfolio .sample-product .short-description .tech-used {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

#portfolio .sample-product-1 .short-description .tech-used {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

#portfolio .sample-product .short-description .tech-used ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
}

#portfolio .sample-product-1 .short-description .tech-used ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
}

#portfolio .sample-product .short-description .tech-used ul li {
    color: #009ff6;
    margin-right: 10%;
    font-size: 0.9vw;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product .short-description .tech-used ul li {
        color: #009ff6;
        margin-right: 10%;
        font-size: 2.8vw;
    }
}

#portfolio .sample-product-1 .short-description .tech-used ul li {
    color: #009ff6;
    margin-right: 10%;
    font-size: 0.9vw;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product-1 .short-description .tech-used ul li {
        color: #009ff6;
        margin-right: 10%;
        font-size: 2.8vw;
    }
}

#portfolio .sample-product .short-description .tech-used a {
    background-color: #009ff6;
    text-decoration: none;
    color: #fff;
    font-size: 0.8vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
    padding: 2.5% 6%;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product .short-description .tech-used a {
        background-color: #009ff6;
        text-decoration: none;
        color: #fff;
        font-size: 2.8vw;
        border-radius: 1vw;
        outline: none;
        border: none;
        padding: 2.5% 6%;
    }
}

#portfolio .sample-product-1 .short-description .tech-used a {
    background-color: #009ff6;
    text-decoration: none;
    color: #fff;
    font-size: 0.8vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
    padding: 2.5% 6%;
}
@media screen and (max-width: 500px) {
    #portfolio .sample-product-1 .short-description .tech-used a {
        background-color: #009ff6;
        text-decoration: none;
        color: #fff;
        font-size: 2.8vw;
        border-radius: 1vw;
        outline: none;
        border: none;
        padding: 2.5% 6%;
    }
}

/* - - - - - contact styling - - - - - */
#contact {
    width: 100%;
    padding: 5% 5% 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#contact .inner {
    text-align: center;
    padding: 5%;
    width: 50%;
    height: auto;
    border: #494949 solid 0.1vw;
    backdrop-filter: blur(0.2vw);
    position: relative;
    z-index: 3;
}
@media screen and (max-width: 500px) {
    #contact .inner {
        text-align: center;
        padding: 10%;
        width: 100%;
        height: auto;
        border: #494949 solid 0.1vw;
        backdrop-filter: blur(0.2vw);
        position: relative;
        z-index: 3;
    }
}

#contact .inner h3 {
    font-size: 1.5vw;
    color: #009ff6;
}
@media screen and (max-width: 500px) {
    #contact .inner h3 {
        font-size: 3.5vw;
        color: #009ff6;
    }
}

#contact .inner p {
    padding: 3% 0;
    color: #dcdddd;
    font-size: 0.9vw;
    line-height: 1.8vw;
    margin-bottom: 5%;
}
@media screen and (max-width: 500px) {
    #contact .inner p {
        padding: 5% 0;
        color: #dcdddd;
        font-size: 3vw;
        line-height: 5vw;
        margin-bottom: 5%;
    }
}

#contact .inner a {
    background-color: #009ff6;
    text-decoration: none;
    color: #fff;
    font-size: 0.8vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
    padding: 2.5% 6%;
}
@media screen and (max-width: 500px) {
    #contact .inner a {
        background-color: #009ff6;
        text-decoration: none;
        color: #fff;
        font-size: 2.8vw;
        border-radius: 1vw;
        outline: none;
        border: none;
        padding: 5% 8%;
    }
}

#contact .inner a svg {
    width: 1vw;
    height: 1vw;
    margin: 0 1%;
}
@media screen and (max-width: 500px) {
    #contact .inner a svg {
        width: 2vw;
        height: 2vw;
        margin: 0 1%;
    }
}

#contact .social {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact .social a {
    margin: 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .social a svg {
    width: 1.5vw;
    height: 1.5vw;
    color: #009ff6;
}
@media screen and (max-width: 500px) {
    #contact .social a svg {
        width: 5vw;
        height: 5vw;
        color: #009ff6;
    }
}

#contact p {
    padding-top: 2%;
    color: #dcdddd;
    font-size: 0.8vw;
    line-height: 1.8vw;
}
@media screen and (max-width: 500px) {
    #contact p {
        padding-top: 2%;
        color: #dcdddd;
        font-size: 2.8vw;
        line-height: 5.6vw;
        padding-bottom: 5%;
    }
}
